*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family:"font1";
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "font2";
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "font3";
  src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}
html{
  background-color:  hsl(0, 0%, 8%)
}
