*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family:"font1";
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "font2";
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "font3";
  src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}
html{
  background-color:  hsl(0, 0%, 8%)
}

body{
  background-color: hsl(0, 0%, 12%);
  color: hsl(0, 0%, 100%);
  width: 30%;
  height: fit-content;
  margin-left:35%;
  margin-top: 170px;
 justify-items: center;
 border-radius: 20px;
 padding-inline: 30px;
}

img{
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 30px;
}

h2{
  border: 1px solid green;
  font-family: "font2";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5px;
  
}